@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&family=Work+Sans:ital,wght@1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    position: relative;
}